/* index.css */
@import "tailwindcss";

:root {
  --bg: #f4f8f1;
  --darkgreen: #87ab87;
  --darkergreen: #4a6d4a;
  --lightgreen: #acd1af;
  --txt: #3c3e3f;
}

.Toastify__toast-container {
  margin-top: 50px !important; /* Adjust height from top */
}
